@use "src/styles/helpers/variables" as vars;

.ProductTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 2px solid vars.$color-primary-action;
  border-radius: vars.$spacing-border-radius-large;
  padding: 0.5rem;
  //background-color: vars.$color-gray-medium;
}

.ProductTile__name {
  margin-bottom: 1rem;
}

.ProductTile__thumbnail {
  max-width: 200px;
  margin-bottom: 1rem;
  border-radius: vars.$spacing-border-radius-large;
}

.ProductTile__addToCart {
  font-size: 1rem;
}

.ProductTile__icon {
  width: 0.8rem;
  height: 0.8rem;
  background-size: 0.8rem;
  background-image: url("../../../assets/img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transform: rotate(45deg);
  margin-left: 2rem;
}
