@use "src/styles/helpers/variables" as vars;

.Button {
  position: relative;
  border-radius: vars.$spacing-border-radius-large;
  padding: 0.3rem 0.8rem;
  color: vars.$color-white;
  background-color: vars.$color-primary-dark;
  display: inline-block;
  font-weight: vars.$font-weight-bold;
  font-size: 0.8rem;
  min-height: 1.8rem;
  min-width: 5rem;
  text-transform: uppercase;
  cursor: pointer;

  &--xs {
    max-height: 1rem;
    min-height: auto;
    padding: 0;
  }

  &--m {
    min-height: 2rem;
    min-width: 6rem;
  }

  &--l {
    min-height: 2.5rem;
    min-width: 8rem;
  }

  &--xl {
    min-height: 4rem;
    min-width: 16rem;
    font-size: 1rem;
  }

  &--alternative {
    background-color: vars.$color-primary-action;
  }

  &--hollow {
    background-color: transparent;
    border: 2px solid vars.$color-primary-dark;
    color: vars.$color-primary-dark;
  }
}

.Button--disabled {
  cursor: not-allowed;
}

.Button--disabled {
  background-color: vars.$color-secondary-light;
}
