// colors
$color-primary: #3c8ee2;
$color-primary-light: #deebf8;
$color-primary-action: #792d8d;
$color-primary-dark: #1e345c;

$color-secondary: #e42045;
$color-secondary-light: #ce949f;

$color-warning: #b2951e;
$color-danger: $color-secondary;
$color-success: #62ac62;

$color-white: #fff;
$color-light: #f4f4fb;
$color-dark: #333338;

$color-gray-light: #d3d3d3;
$color-gray-dark: #555555;
$color-gray-medium: #808080;

// borders
$color-border: $color-light;
$color-border-dark: $color-gray-light;
$spacing-border-radius: 0.1rem;
$spacing-border-radius-large: 0.3rem;

// texts
$color-text: $color-white;
$font-main: "Roboto", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// use spacing for margins, paddings
$spacing-extra-small: 0.3rem;
$spacing-xs: 0.6rem;
$spacing-small: 1.1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;

// hover styles
$hover-opacity: 0.85;

// animations
$transition-duration: 0.2s;

// sizes

// export sass variables for use in js
:export {
}
