.Store {
}

.Store__heading {
  margin: 2rem 0;
  text-align: center;
}

.Store__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(20vh, max-content));
  grid-gap: 1rem;
}

.Store__item {
  grid-column: span 10;

  @media (min-width: 600px) {
    grid-column: span 5;
  }

  @media (min-width: 1280px) {
    grid-column: span 2;
  }
}

.Store__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
