@use "src/styles/helpers/variables" as vars;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: vars.$font-main;
}

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#root.ps4 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

main {
  min-height: 100vh;
}

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  outline: none;
  margin: 0;
}

img {
  max-width: 100%;
}

html,
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
