@use "src/styles/helpers/variables" as vars;

.Table {
  width: 100%;
  border: 1px solid vars.$color-primary-dark;
}

.Table__thead {
  background-color: vars.$color-primary-dark;
  color: vars.$color-text;
  font-weight: vars.$font-weight-bold;
}

.Table__td {
  border: 1px solid vars.$color-primary-dark;
}
