@use "src/styles/helpers/variables" as vars;

.Header {
  display: flex;
  align-items: stretch;
  background-color: vars.$color-primary-dark;
  color: vars.$color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  min-height: 40px;
}

.Header__logo {
  max-height: 60%;
  position: absolute;
  top: 10%;
  left: 2rem;
}

.Header__menu {
  margin-left: 60px;
  display: flex;
  align-items: stretch;
}

.Header__menuItem {
  color: vars.$color-text;
  text-decoration: none;
  padding: 0 1rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;

  &:hover {
    background-color: vars.$color-primary;
  }

  &.active {
    background-color: vars.$color-primary;
    text-decoration: underline;
  }
}
