@use "src/styles/helpers/variables" as vars;

.Loader {
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 0.9rem solid vars.$color-primary-dark;
  border-top-color: vars.$color-primary-action;
  animation: spin 1s infinite linear;
  position: relative;
  z-index: 1;

  &--large {
    width: 10rem;
    height: 10rem;
    margin: -5rem;
    border-width: 1rem;
  }

  &--medium {
    width: 5rem;
    height: 5rem;
    margin: -2.5rem;
    border-width: 0.6rem;
  }

  &--small {
    width: 3rem;
    height: 3rem;
    margin: -1.5rem;
    border-width: 0.35rem;
  }

  &--extraSmall {
    width: 1rem;
    height: 1rem;
    margin: -0.5rem;
    border-width: 0.1rem;
  }

  &--centerOnPage {
    position: fixed;
  }

  &--centerOnParent {
    position: absolute;
  }
}

@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
