@use "src/styles/helpers/variables" as vars;

.AppContainer {
  background-color: vars.$color-light;
}

.AppContainer__page {
  display: flex;
}

.AppContainer__main {
  padding: 4rem 2rem;
  background-color: vars.$color-primary-light;
  min-height: 100vh;
  transition: vars.$transition-duration;
}
