@use "src/styles/helpers/variables" as vars;

.Input {
  display: block;
  width: 100%;
  border-radius: vars.$spacing-border-radius-large;
  background-color: vars.$color-white;
  padding: 10px;
  border: 1px solid vars.$color-primary-dark;
  outline: none;

  &:focus {
    outline: none;
  }

  &--disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.Input__wrapper {
  position: relative;
}

.Input__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
