.History {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.History__heading {
  margin-bottom: 2rem;
}

.History__table {
  width: 1000px;
  max-width: 100%;
}

.History__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0;
  max-width: 100%;
}

.History__inputWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.History__input {
  margin: 2rem 1rem;
}

.History__filterBtn {
  margin: 2rem 1rem;
}
