@use "src/styles/helpers/variables" as vars;

.PaginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: vars.$spacing-small;
  width: 300px;
}

.PaginationContainer .PaginationButton {
  background: vars.$color-primary-action
    url("../../../../assets/img/arrow-down.svg") no-repeat center center;
  background-size: 0.8rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  outline: 0;
  margin: 0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &.Button {
    border-radius: 0;
    min-width: auto;
  }

  &--first,
  &--last {
    background: vars.$color-primary-action
      url("../../../../assets/img/double-arrow-down.svg") no-repeat center
      center;
    background-size: 1rem;
  }

  &--first,
  &--previous {
    transform: rotate(90deg);
  }

  &--last,
  &--next {
    transform: rotate(-90deg);
  }
}

.Pagination__pagesInfo {
  font-weight: vars.$font-weight-bold;
  min-width: 120px;
}
